@import "/src/styles/index";

.home-page {
    min-height: 100vh;
    padding: 40px 100px;

    background-color: $light-text;
    background-image: url("../../../static/images/background.png");
    background-repeat: no-repeat;

    &__subtitle p {
        @include font-style($color: $red, $font-size: 36px, $font-weight: 700, $line-height: 41px);

        width: 260px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 370px;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;

        &__header h1 {
            @include font-style($font-size: 150px, $letter-spacing: -0.06em, $font-family: "Ubuntu Condensed");

            position: relative;

            margin-top: 23px;
            margin-bottom: 0;

            line-height: 114px;
        }

        &__about p {
            @include font-style($color: $red);

            text-align: justify;

            &:nth-child(2) {
                padding-left: 90px;
            }
        }
    }

    &__buttons-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 105px;

        & button {
            margin-bottom: 20px;
        }

        &__one-button {
            width: 880px;
        }

        &__two-button {
            display: flex;
            column-gap: 20px;

            &__btn {
                width: 430px;
            }
        }
    }
}
