@import "../../../styles";

.square-button {
    display: inline-block;

    width: 7rem;
    height: 7rem;
    margin-right: 25px;

    line-height: 7rem;
    color: rgb($white);
    text-align: center;
    vertical-align: middle;

    background-color: rgb($black);
    border: 0;
    border-radius: 20px;
    outline: 0;
    box-shadow: 5px 5px 10px 0 rgba($black-hilighted, 0.5);

    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

    >span {
        display: inline-block;

        line-height: normal;
        color: inherit;
        vertical-align: middle;
    }

    &:hover {
        background-color: rgb($black-hilighted);
    }

    &:active {
        transform: translate(5px, 5px);

        box-shadow: 0 0 10px 0 rgba($black-hilighted, 0.5);
    }

    &:focus,
    &:focus-visible {
        outline: 0;
    }

    .arrow-back-icon {
        fill: rgb($white);
    }
}
