@import "/src/styles/index";

.sign-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    padding: 0 100px;

    background-color: rgb($red);

    a {
        font-size: inherit;
        color: rgb($black);
        text-decoration: underline;
    }

    &__title h3 {
        @include font-style($font-size: 80px, $line-height: 80px, $font-family: VT323);

        margin: 0 0 0.5em;

        line-height: 1em;
        text-align: center;
    }

    &__form-items {
        width: 430px;
    }

    &__buttons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        width: 430px;

        &__sign-in {
            @include font-style(
                $font-size: 16px,
                $letter-spacing: normal,
                $color: rgb($white),
                $font-family: Ubuntu,
                $font-weight: 300
            );
        }

        &__button .ant-btn-primary {
            width: 171px;
            height: 46px;

            span {
                @include font-style($font-size: 33px, $color: rgb($white), $font-family: VT323);
            }
        }
    }

    &__yandex-auth {
        display: flex;
        column-gap: 20px;
        align-items: center;

        button {
            @include font-style($font-size: 23px, $font-family: Ubuntu);

            background: none;
            border: none;
            outline: none;
        }
    }
}
