@import "/src/styles/index";

.game-over-page {
    min-height: 100vh;
    padding: 40px 100px;

    background-color: $red;

    &__title h3 {
        @include font-style($font-size: 80px, $line-height: 80px, $font-family: VT323);

        margin-top: 290px;

        text-align: center;
    }

    &__score h3 {
        @include font-style($font-size: 80px, $color: $light-text, $line-height: 80px, $font-family: VT323);

        margin-top: 20px;

        text-align: center;
    }
}
