@import "/src/styles";

.header-back-button {
    margin-bottom: 35px;

    h1 {
        @include VT323;

        display: inline;

        margin: 0;
        padding: 0;

        font-size: $xxxl;
        color: $red;
        vertical-align: middle;
    }
}
