@import "/src/styles";

.text-input {

    @include roundedTopRight;

    @include VT323;

    display: block;

    width: 100%;
    height: 90px;
    margin: 40px 0 0;
    padding: 0 10px;

    font-size: $xxl;
    line-height: 90px;
    color: $light-text;

    background-color: $dark-text;
    border: 0;
    outline: 0;
    box-shadow: inset 0 0 0 $brown;

    transition: background-color 0.3s, box-shadow 0.3s;

    &:-webkit-autofill::first-line,
    &:-webkit-autofill {

        @include VT323(true);

        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-box-shadow: 0 0 0 100px $dark-text inset;
        box-shadow: 0 0 0 100px $dark-text inset;

        -webkit-text-fill-color: $light-text;
    }

    &:focus,
    &:-webkit-autofill:focus {
        background-color: $dark-hilighted;
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-box-shadow: inset 0 -5px 0 0 $brown, 0 0 0 100px $dark-hilighted inset;
        box-shadow: inset 0 -5px 0 0 $brown, 0 0 0 100px $dark-hilighted inset;
    }

    & + label,
    & ~ .text-input-status {
        position: relative;

        display: block;

        height: 0;
        padding: 0 20px 0 10px;

        font-weight: 300;
        color: adjust-color($light-text, $alpha: -0.5);
    }

    & + label {
        top: -80px;

        font-size: $m;
        text-transform: uppercase;
    }

    & ~ .text-input-status {
        top: -23px;

        float: right;

        &.error {
            color: $red;
        }

        &.info {
            color: $green;
        }
    }
}
