@import "/src/styles/index";

.userinfo {
    &__form-items {
        width: 430px;
    }

    &__buttons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        width: 430px;

        &__sign-in {
            @include font-style(
                $font-size: 16px,
                $letter-spacing: normal,
                $color: rgb($white),
                $font-family: Ubuntu,
                $font-weight: 300
            );
        }

        &__button .ant-btn-primary {
            width: 171px;
            height: 46px;

            span {
                @include font-style($font-size: 33px, $color: rgb($white), $font-family: VT323);
            }
        }
    }
}
