@font-face {
    font-family: VT323;
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/VT323/VT323-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
    font-family: UbuntuCondensed;
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/UbuntuCondensed/UbuntuCondensed-Regular.ttf") format("truetype");
}
