@import "variables";

@function if-important($important) {

    @return #{if($important, "!important", "")};
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin VT323($important: false) {
    font-family: "VT323", serif if-important($important);
}

@mixin Ubuntu($important: false) {
    font-family: Ubuntu, sans-serif if-important($important);
}

@mixin UbuntuCondensed($important: false) {
    font-family: UbuntuCondensed, sans-serif if-important($important);
}

@mixin roundedTopRight($radius: 20px) {
    border-radius: 0 $radius 0 0;
}

@mixin font-style(
    $font-size: 20px,
    $color: $dark-text,
    $font-family: Ubuntu,
    $font-weight: 400,
    $line-height: 23px,
    $letter-spacing: 3px,
    $hover-color: null
) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
    letter-spacing: $letter-spacing;

    transition: color 70ms ease;

    @if $hover-color {
        &:hover {
            color: $hover-color;
        }
    }
}
