// COLORS
$dark-text: #362724;
$light-text: #faf6ec;
$red: #bc302f;
$dark-hilighted: #222;
$brown: #663d39;
$green: #75bc2f;
$brown-001: #663d39;
$brown-002: #222;

//FONT-SIZES
$normal: 1rem; // 13px
$m: 1.15rem; //15px
$mplus: 1.25rem; //16px
$l: 1.5rem;
$xl: 2rem; //26px
$xxl: 3rem; // 40px
$xxxl: 6rem; // 80px

//PATHS
$imgPath: "/static/images";
