:root {
    --black-color: 54, 39, 36;
    --white-color: 250, 246, 236;
    --red-color: 188, 48, 47;
    --black-hilighted-color: 34, 34, 34;
    --brown-color: 102, 61, 57;
    --green-color: 117, 188, 47;
}

.theme-alternative {
    --black-color: 157, 99, 129;
    --white-color: 15, 17, 12;
    --red-color: 253, 236, 239;
    --black-hilighted-color: 129, 54, 86;
    --brown-color: 206, 204, 204;
    --green-color: 164, 194, 168;
}

// COLORS
$black: var(--black-color);
$white: var(--white-color);
$red: var(--red-color);
$black-hilighted: var(--black-hilighted-color);
$brown: var(--brown-color);
$green: var(--green-color);

//FONT-SIZES
$normal: 1rem; // 13px
$m: 1.15rem; //15px
$mplus: 1.25rem; //16px
$l: 1.5rem; // 20px
$xl: 2rem; //26px
$xxl: 3rem; // 40px
$xxxl: 6rem; // 80px

//PATHS
$imgPath: "/static/images";
