// COLORS
$dark-text: #362724;
$light-text: #faf6ec;
$red: #bc302f;
$dark-hilighted: #222;
$brown: #663d39;
$green: #75bc2f;

//FONT-SIZES
$normal: 1rem;
$m: 1.15rem;
$mplus: 1.25rem;
$xxl: 3rem;
$xxxl: 6rem;
