.btn-back {
    display: flex;
    align-items: center;

    .page-title {

        @include font-style($font-size: 80px, $color: $dark-text, $font-family: VT323);

        padding-left: 20px;
    }
}
