@import "/src/styles";

.forum-page {
    min-width: 100vh;
    min-height: 100vh;
    padding: 40px 120px;

    background-color: $light-text;

    .header-back-button h1 {
        color: $dark-text;
    }

    .pencil-icon {
        float: right;

        margin-top: 1.25rem;
    }

    .forum-body {
        .forum-topic {
            @include roundedTopRight;

            position: relative;

            overflow: hidden;
            display: block;

            margin: 0 0 20px;
            padding: 15px;

            background-color: $dark-text;

            transition: max-height 0.3s, height 0.3s;

            * {
                font-size: $m;
                color: $light-text;
            }

            .close-button {
                position: absolute;
                top: 15px;
                right: 15px;

                display: block;

                margin: 0;
                padding: 0;

                background-color: transparent;
                border: 0;
                border-radius: 15px;
                outline: 0;

                transition: box-shadow 0.5s;

                &:hover {
                    box-shadow: 0 0 5px 0 $red, inset 0 3px 5px 0 $red;
                }
            }

            .forum-topic-reply-counter {
                position: absolute;
                top: 15px;
                right: 15px;

                .reply-counter-number {
                    margin: 0 10px 0 3px;

                    font-size: $l;
                    vertical-align: middle;
                }

                time {
                    opacity: 0.5;
                }
            }

            .forum-post {
                display: flex;

                margin: 0 0 15px 90px;

                .avatar-wrapper {
                    overflow: hidden;
                    flex-basis: 40px;
                    flex-shrink: 0;

                    width: 40px;
                    height: 40px;
                    margin-right: 10px;

                    border-radius: 20px;

                    img {
                        width: 100%;

                        object-fit: cover;
                    }
                }

                .topic-header {
                    display: none;
                }

                .post-header {
                    margin-bottom: 6px;

                    opacity: 0.5;

                    span {
                        margin-right: 30px;
                    }
                }

                .post-body {
                    font-feature-settings: normal;
                    font-weight: 300;
                    line-height: normal;
                }

                &:first-of-type {
                    margin-left: 0;

                    .avatar-wrapper {
                        flex-basis: 80px;

                        width: 80px;
                        height: 80px;

                        border-radius: 10px;
                    }

                    .topic-header {
                        display: block;

                        margin: 0 0 8px;
                        padding: 0;

                        font-size: $l;
                        font-weight: 300;
                        line-height: normal;
                    }
                }
            }

            .reply-form-wrapper {
                position: relative;

                overflow: hidden;

                margin-left: 90px;

                * {
                    @include Ubuntu;

                    font-size: $m;
                    color: $dark-text;
                    letter-spacing: normal;
                }

                .ant-form-item {
                    margin: 0;
                }

                .ant-form-item-label {
                    top: 2px;
                    left: 8px;

                    overflow: visible;

                    text-align: left;

                    label {
                        @include VT323;

                        font-size: 2.5rem;
                        line-height: 1em;

                        opacity: 1;
                        background-color: adjust-color($light-text, $alpha: -0.5);
                        box-shadow: 0 -2px 5px 5px adjust-color($light-text, $alpha: -0.5);
                    }
                }

                .reply-form-send-button {
                    position: absolute;
                    top: 64px;
                    right: 10px;

                    display: block;

                    button {
                        width: 30px;
                        height: 30px;
                        margin: 0;
                        padding: 0;

                        background-color: transparent;
                        box-shadow: none;
                    }

                    svg {
                        fill: $red;
                    }
                }

                textarea.ant-input {
                    margin-bottom: -60px;
                    padding: 40px 45px 8px 8px;

                    line-height: normal;

                    background-color: $light-text !important;
                    box-shadow: none;

                    transition: margin-bottom 0.3s;
                    transition-delay: 0.5s;

                    &:active,
                    &:hover,
                    &:focus,
                    &:not(:empty) {
                        margin-bottom: 0;

                        background-color: $light-text !important;
                        box-shadow: none;
                    }
                }

                &:active,
                &:hover,
                &:focus {
                    textarea.ant-input {
                        margin-bottom: 0;
                    }
                }
            }

            &.expanded {
                max-height: fit-content;

                .forum-topic-reply-counter {
                    display: none;
                }

                .forum-topic-link {
                    display: none;
                }
            }

            &:not(.expanded) {
                max-height: 110px;

                &::after {
                    content: "";

                    position: absolute;
                    bottom: 0;
                    left: 0;

                    display: block;

                    width: 100%;
                    height: 0;

                    box-shadow: 0 0 20px 10px $dark-text;
                }

                .close-button {
                    display: none;
                }

                .forum-topic-link {
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: block;

                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
