@import "/src/styles/index.scss";

.leaderboard-page {
    min-height: 100vh;
    padding: 40px 100px;

    background-color: $red;

    &__grid {
        padding-top: 40px;

        .ant-row {
            .ant-col {
                display: flex;

                @include font-style($font-size: 48px, $line-height: 42px, $color: $light-text, $font-family: VT323);

                span {
                    color: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    text-align: right;
                }
            }
        }
        &__number {
            width: 70px;
            min-width: 70px;
            margin-right: 10px;
        }
        &__text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
