@import "/src/styles/index.scss";

.leaderboard-page {
    min-height: 100vh;
    padding: 40px 100px;

    background-color: rgb($red);

    &__grid {
        padding-top: 40px;

        .ant-row {
            .ant-col {
                @include font-style($font-size: 48px, $line-height: 42px, $color: rgb($white), $font-family: VT323);

                display: flex;

                span {
                    font-size: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: right;
                }
            }
        }

        &__number {
            width: 70px;
            min-width: 70px;
            margin-right: 10px;
        }

        &__text {
            overflow: hidden;

            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .header-back-button h1 {
        color: rgb($black);
    }

    ol.leaders-list {
        display: flex;
        flex-flow: column wrap;

        height: 75vh;

        font-size: 3.7rem;

        li {
            @include VT323;

            overflow: hidden;
            flex-shrink: 3;

            width: 30%;
            min-width: 200px;

            font-size: 3.7rem;
            line-height: 3.7rem;
            color: rgb($white);
            text-overflow: ellipsis;
            white-space: nowrap;
            list-style-position: inside;
        }
    }
}
