.ant-btn-primary {
    height: 90px;

    background: rgb($black);
    border: none;
    box-shadow: inset 0 0 0 rgb($brown);

    transition: background-color 0.3s, box-shadow 0.3s;

    span {
        @include font-style($font-size: 60px, $color: rgb($white), $font-family: VT323);

        letter-spacing: normal !important;
    }

    svg {
        fill: rgb($white);
    }

    &:active,
    &:focus,
    &:hover {
        background-color: rgb($black-hilighted);
        box-shadow: inset 0 -5px 0 0 rgb($brown);
    }

    &:not(.ant-btn-icon-only) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        border-radius: 0 20px 0 0;
    }

    &.ant-btn-icon-only {
        width: 90px;

        border-radius: 20px;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    *:only-child {
        flex-grow: 1;
    }
}
