.ant-form-item {
    position: relative;

    margin-bottom: 40px;

    .ant-input,
    .ant-input-status-error {
        @include font-style($font-size: 40px, $color: $light-text, $font-family: VT323);

        cursor: pointer;

        padding: 24px 15px;

        background: $dark-text !important;
        border: 0;
        border-radius: 0 20px 0 0;

        transition: background-color 0.3s, box-shadow 0.3s;

        &:hover {
            background: $brown-002;
        }

        &:active,
        &:focus {
            box-shadow: inset 0 -5px 0 0 $brown-001, 0 0 0 100px $brown-002 inset;
        }

        input { // это чтобы хром не перекрашивал все при автозаполнении
            &:-webkit-autofill::first-line,
            &:-webkit-autofill {
                @include VT323(true);

                /* stylelint-disable-next-line property-no-vendor-prefix */
                -webkit-box-shadow: 0 0 0 100px $dark-text inset;
                box-shadow: 0 0 0 100px $dark-text inset;

                -webkit-text-fill-color: $light-text;
            }
        }
    }

    .ant-form-item-label {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 11px;

        & label {
            @include font-style($font-size: $m, $color: $light-text, $font-family: Ubuntu, $font-weight: 300);

            letter-spacing: normal;

            opacity: 0.5;

            &::before,
            &::after {
                content: "" !important;
            }
        }
    }

    &-explain {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &-explain-error {
        position: absolute;
        right: 18px;
        bottom: 10px;

        width: auto;
        min-height: 0;

        color: $red;
        white-space: nowrap;
    }
    &-explain {
        min-height: 0 !important;
    }
}
